################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringCalculator/.vs/StringCalculator/v16
/StringCalculator/.vs/StringCalculator/DesignTimeBuild
